<!DOCTYPE html >
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../static/css/common.css" rel="stylesheet" type="text/css" />
<link href="../static/fonts/iconfont.css"  rel="stylesheet" type="text/css" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
<link href="../static/css/Orders.css" rel="stylesheet" type="text/css" />
<link href="../static/css/purebox-metro.css" rel="stylesheet" id="skin">
<script src="../static/js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="../static/js/jquery.reveal.js" type="text/javascript"></script>
<script src="../static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script src="../static/js/common_js.js" type="text/javascript"></script>
<script src="../static/js/footer.js" type="text/javascript"></script>
<script src="../static/js/lrtk.js" type="text/javascript"></script>
<title>产品列表</title>
</head>
<script type="text/javascript" charset="UTF-8">
 //点击效果start
 function infonav_more_down(index)
 {
  var inHeight = ($("div[class='p_f_name infonav_hidden']").eq(index).find('p').length)*30;//先设置了P的高度，然后计算所有P的高度
  if(inHeight > 60){
   $("div[class='p_f_name infonav_hidden']").eq(index).animate({height:inHeight});
   $(".infonav_more").eq(index).replaceWith('<p class="infonav_more"><a class="more"  onclick="infonav_more_up('+index+');return false;" href="javascript:">收起<em class="pulldown"></em></a></p>');
  }else{
   return false;
  }
 }
 function infonav_more_up(index)
 {
  var infonav_height = 85;
  $("div[class='p_f_name infonav_hidden']").eq(index).animate({height:infonav_height});
  $(".infonav_more").eq(index).replaceWith('<p class="infonav_more"> <a class="more" onclick="infonav_more_down('+index+');return false;" href="javascript:">更多<em class="pullup"></em></a></p>');
 }
   
 function onclick(event) {
  info_more_down();
 return false;
 }
 //点击效果end  
//-->
</script>
<body>
<!--顶部样式-->
 <div id="header_top">
  <div id="top">
    <div class="Inside_pages">
      <div class="Collection">下午好，欢迎光临锦宏颜！<em></em><a href="#">收藏我们</a></div>
	<div class="hd_top_manu clearfix">
	  <ul class="clearfix">
	   <li class="hd_menu_tit zhuce" data-addclass="hd_menu_hover">欢迎光临本店！<a href="#" class="red">[请登录]</a> 新用户<a href="#" class="red">[免费注册]</a></li>
	   <li class="hd_menu_tit" data-addclass="hd_menu_hover"><a href="#">我的订单</a></li> 
	   <li class="hd_menu_tit" data-addclass="hd_menu_hover"> <a href="#">购物车</a> </li>
	   <li class="hd_menu_tit" data-addclass="hd_menu_hover"><a href="#">联系我们</a></li>
	   <li class="hd_menu_tit list_name" data-addclass="hd_menu_hover"><a href="#" class="hd_menu">客户服务</a>
	    <div class="hd_menu_list">
		   <ul>
		    <li><a href="#">常见问题</a></li>
			<li><a href="#">在线退换货</a></li>
		    <li><a href="#">在线投诉</a></li>
			<li><a href="#">配送范围</a></li>
		   </ul>
		</div>	   
	   </li>
       <li class="hd_menu_tit phone_c" data-addclass="hd_menu_hover"><a href="#" class="hd_menu "><em class="iconfont icon-shouji"></em>手机版</a>
	    <div class="hd_menu_list erweima">
		   <ul>
            <img src="../static/images/erweima.jpg"  width="100px" height="100"/>
		   </ul>
		</div>	   
	   </li>
	  </ul>
	</div>
    </div>
  </div>
  <!--顶部样式1-->
  <div id="header"  class="header page_style">
  <div class="logo"><a href="index.html"><img src="../static/images/logo.png" /></a></div>
	  <!--结束图层-->
	  <form method="post" th:action="@{/goods/serchGoods}" id="form1">
		  <div class="Search">
			  <p>

				  <input name="serch" type="text" id="goodsName" class="text" th:if="${session.serch != null}" th:value="${session.serch}"/>
				  <input name="serch" type="text" id="goodsName" class="text" th:if="${session.serch == null}" />
				  <input  type="button" value="搜 索"  class="Search_btn"  id="serch"/></p>
			  <p class="Words"><a href="#">苹果</a><a href="#">香蕉</a><a href="#">菠萝</a><a href="#">西红柿</a><a href="#">橙子</a><a href="#">苹果</a></p>
		  </div>
	  </form>
 <!--购物车样式-->
 <div class="hd_Shopping_list" id="Shopping_list">
   <div class="s_cart"><em class="iconfont icon-cart2"></em><a href="#">我的购物车</a> <i class="ci-right">&gt;</i><i class="ci-count" id="shopping-amount">0</i></div>
   <div class="dorpdown-layer">
    <div class="spacer"></div>
	 <!--<div class="prompt"></div><div class="nogoods"><b></b>购物车中还没有商品，赶紧选购吧！</div>-->
	 <ul class="p_s_list">	   
		<li>
		    <div class="img"><img src="../static/products/p_7.jpg"></div>
		    <div class="content"><p><a href="#">产品名称</a></p><p>颜色分类:紫花8255尺码:XL</p></div>
			<div class="Operations">
			<p class="Price">￥55.00</p>
			<p><a href="#">删除</a></p></div>
		  </li>
		</ul>		
	 <div class="Shopping_style">
	 <div class="p-total">共<b>1</b>件商品　共计<strong>￥ 515.00</strong></div>
	  <a href="shopCar.html" title="去购物车结算" id="btn-payforgoods" class="Shopping">去购物车结算</a>
	 </div>	 
   </div>
 </div>
</div>
<!--菜单导航样式-->
<div id="Menu" class="clearfix">
<div class="index_style clearfix">
  <div id="allSortOuterbox" class="display">
    <div class="t_menu_img"></div>
    <div class="Category"><a href="#"><em></em>所有产品分类</a></div>
    <div class="hd_allsort_out_box_new">
	 <!--左侧栏目开始-->
	 <ul class="Menu_list">	
	    <li class="name">
		<div class="Menu_name"><a href="productList.html" >面部护理</a> <span>&lt;</span></div>
		<div class="link_name">
		  <p><a href="product_Detailed.html">茅台</a>  <a href="#">五粮液</a>  <a href="#">郎酒</a>  <a  href="#">剑南春</a></p>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">
		   <div class="hd_sort_list">
		    <dl class="clearfix" data-tpc="1">
			 <dt><a href="#">面膜<i>></i></a></dt>
			 <dd><a href="#">撕拉面膜</a><a href="#">面膜贴</a><a href="#">免洗面膜</a><a href="#">水洗面膜</a></dd> 
			</dl>
			 <dl class="clearfix" data-tpc="2">
			 <dt><a href="#">洁面<i>></i></a></dt>
			 <dd><a href="#">洁面摩丝</a><a href="#">洁面乳 </a><a href="#">洁面啫哩/胶</a><a href="#">面部去角质/磨砂</a><a href="#">洁面膏/霜</a><a href="#">洁肤皂</a></dd> 
			</dl>
			 <dl class="clearfix" data-tpc="3">
			 <dt><a href="#">化妆水<i>></i></a></dt>
			 <dd><a href="#"> 喷雾</a><a href="#"> 精华水</a><a href="#"> 柔肤水</a><a href="#">爽肤水</a><a href="#">收敛水/紧肤水</a></dd> 
			</dl>
			 <dl class="clearfix" data-tpc="4">
			 <dt><a href="#">眼部护理<i>></i></a></dt>
			 <dd><a href="#"> 眼膜</a><a href="#"> 眼部凝胶</a><a href="#">眼部精华</a><a href="#">眼霜</a></dd> 
			</dl>
             <dl class="clearfix" data-tpc="4">
			 <dt><a href="#">眼部护理<i>></i></a></dt>
			 <dd><a href="#"> 眼膜</a><a href="#"> 眼部凝胶</a><a href="#">眼部精华</a><a href="#">眼霜</a></dd> 
			</dl>
             <dl class="clearfix" data-tpc="4">
			 <dt><a href="#">防晒<i>></i></a></dt>
			 <dd><a href="#"> 眼膜</a><a href="#"> 眼部凝胶</a><a href="#">眼部精华</a><a href="#">眼霜</a></dd> 
			</dl>
             <dl class="clearfix" data-tpc="4">
			 <dt><a href="#">唇部护理<i>></i></a></dt>
			 <dd><a href="#"> 眼膜</a><a href="#"> 眼部凝胶</a><a href="#">眼部精华</a><a href="#">眼霜</a></dd> 
			</dl> <dl class="clearfix" data-tpc="4">
			 <dt><a href="#">乳液/面霜<i>></i></a></dt>
			 <dd><a href="#"> 乳液</a><a href="#"> 面霜</a><a href="#">按摩霜</a><a href="#">面部啫喱</a><a href="#">凝露/凝胶</a></dd> 
			</dl>
		   </div><div class="Brands">
		  	   
		  </div>
		  </div>
		  <!--品牌-->		  
		</div>		 
		</li>
		<li class="name">
		<div class="Menu_name"><a href="#" >身体护理</a><span>&lt;</span></div>
		<div class="link_name">
		 <a href="product_Detailed.html"> 面霜</a><a href="#">眼霜</a><a href="#"> 面膜</a><a href="#">护肤套装</a>

		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">		   
		  </div>
		</div>		
		</li>
		<li class="name">
		<div class="Menu_name"><a href="#" >香水彩妆</a><span>&lt;</span></div>
		<div class="link_name">
		<a href="#">卸妆 </a><a href="#">防晒</a><a href="#">BB</a>
        <a href="#">女士香水</a>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">		   
		  </div>
		</div>	
		</li>
		<li class="name">
		<div class="Menu_name"><a href="#" >洗发护发</a><span>&lt;</span></div>
		<div class="link_name">
		<a href="#">洗发</a><a href="#">护发</a><a href="#">沐浴</a><a href="#">润肤乳</a>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">		    
		  </div>
		</div>	
		</li>
		<li class="name">
		<div class="Menu_name"><a href="#" >女性护理</a><span>&lt;</span></div>
		<div class="link_name">
		<a href="#">洁面</a><a href="#">坚果炒货</a><a href="#">乳液</a>
        <a href="#"> 面霜</a>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">		    
		  </div>
		</div>	
		</li>
        <li class="name">
		<div class="Menu_name"><a href="#" >男性护理</a><span>&lt;</span></div>
		<div class="link_name">
		<a href="#">洁面</a><a href="#">坚果炒货</a><a href="#">乳液</a>
        <a href="#"> 面霜</a>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">		    
		  </div>
		</div>	
		</li>
		<li class="name">
		<div class="Menu_name"><a href="#" >推荐品牌</a><span>&lt;</span></div>
		<div class="link_name">
		<a href="#">欧莱雅</a><a href="#"> 菲诗小铺</a><a href="#"> 雅诗兰黛</a>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">		    
		  </div>
		</div>	
		</li>
        <li class="name">
		<div class="Menu_name"><a href="#" >推荐品牌</a><span>&lt;</span></div>
		<div class="link_name">
		<a href="#">欧莱雅</a><a href="#"> 菲诗小铺</a><a href="#"> 雅诗兰黛</a>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">		    
		  </div>
		</div>	
		</li>		
	</ul>	
	</div>		
	</div>
	<script>$("#allSortOuterbox").slide({ titCell:".Menu_list li",mainCell:".menv_Detail",	});</script>
	<!--菜单栏-->
	<div class="Navigation" id="Navigation">
		 <ul class="Navigation_name">
			<li><a href="productList.html">首页</a></li>
				<li><a href="productList.html">产品列表</a></li>
			<li><a href="#">限时特卖</a><em class="hot_icon"></em></li>
			<li><a href="#">联系我们</a></li>
			<li><a href="#">鲜盟人才</a></li>
			<li><a href="#">鲜盟金融</a></li>
			<li><a href="#">鲜盟投资</a></li>
			<li><a href="#">鲜盟股票</a></li>
		 </ul>			 
		</div>
	<script>$("#Navigation").slide({titCell:".Navigation_name li"});</script>
     <!-- <a href="#" class="link_bg"><img src="images/link_bg_03.png" /></a>-->		
  </div>
</div>
</div>
<!--产品列表样式-->
<div class="Inside_pages clearfix">
 <!--位置-->
  <div class="Location_link">
  <em></em><a href="#">进口食品、进口牛</a>  &lt;   <a href="#">进口饼干/糕点</a>  
 </div>
    <!--筛选样式-->
   <div id="Filter_style">
     <!--推荐-->
    <div class="page_recommend">
      <div class="hd"><em></em>今日推荐<ul></ul></div>
      <div class="bd">
       <ul>
        <li th:each="good,state:${goodsList}"  th:if="${state.index} lt 5">
         <div class="img"><a th:href="'http://localhost:8080/goods/showDetails?goodId='+${good.id}"><img th:src="'../static/mid/'+${good.id}+'/01.jpg'"  width="120" height="120" /></a></div>
         <div class="pro_info">
          <a th:href="'http://localhost:8080/goods/showDetails?goodId='+${good.id}" th:text="${good.goodsName}">洗颜专科 柔澈泡沫 洁面乳 120g（资生堂旗下）</a>
          <p class="Price"><i>￥</i>[[${good.goodsPrice}]]</p>
          <p class="Sales">热销：<b>[[${good.goodsSaleNum}]]</b>件</p>
         </div>
        </li>

       </ul>
      </div>
      <a class="next" href="javascript:void(0)"><em class="iconfont icon-left"></em></a>
      <a class="prev" href="javascript:void(0)"><em class="iconfont icon-right"></em></a>
    </div>
    <script type="text/javascript">
		jQuery(".page_recommend").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click"});
		</script>
   <!--条件筛选样式-->
     <div class="Filter">
<!--  <div class="Filter_list clearfix">-->
<!--   <div class="Filter_title"><span>品牌：</span></div>-->
<!--   <div class="Filter_Entire"><a href="#">全部</a></div>-->
<!--   <div class="p_f_name infonav_hidden">-->
<!--    <p><a href="#" title="莱家/Loacker">莱家/Loacker </a>  -->
<!--	<a href="#" title="">丽芝士/Richeese</a>  -->
<!--	<a href="#" title="白色恋人/SHIROI KOIBITO ">白色恋人/SHIROI KOIBITO </a> -->
<!--	<a href="#">爱时乐/Astick </a> -->
<!--	<a href="#">利葡/LiPO </a> -->
<!--	<a href="#">友谊牌/Tipo </a> -->
<!--	<a href="#"> 三立/SANRITSU  </a>  -->
<!--	<a href="#"> 皇冠/Danisa </a>  </p>-->
<!--	 <p><a href="#">丹麦蓝罐/Kjeldsens</a>-->
<!--	<a href="#">茱莉/Julie's </a>  -->
<!--	<a href="#">向日葵/Sunflower </a>  -->
<!--	<a href="#">福多/fudo </a> -->
<!--	<a href="#">非凡农庄/PEPPER...  </a>-->
<!--	<a href="#">凯尔森/Kelsen </a> -->
<!--	<a href="#"> 蜜兰诺/Milano </a> -->
<!--	<a href="#">壹格/EgE  </a>  </p>-->
<!--	 <p><a href="#">沃尔克斯/Walkers </a> -->
<!--	<a href="#">澳门永辉/MACAU...</a>  -->
<!--    <a href="#" title="莱家/Loacker">莱家/Loacker </a>  -->
<!--	<a href="#" title="">丽芝士/Richeese</a>  -->
<!--	<a href="#" title="白色恋人/SHIROI KOIBITO ">白色恋人/SHIROI KOIBITO </a> -->
<!--	<a href="#">爱时乐/Astick </a> -->
<!--	<a href="#">利葡/LiPO </a> -->
<!--	<a href="#">友谊牌/Tipo </a>  </p>-->
<!--	 <p><a href="#"> 三立/SANRITSU  </a>  -->
<!--	<a href="#"> 皇冠/Danisa </a>  -->
<!--	<a href="#">丹麦蓝罐/Kjeldsens</a>-->
<!--	<a href="#">茱莉/Julie's </a>  -->
<!--	<a href="#">向日葵/Sunflower </a>  -->
<!--	<a href="#">福多/fudo </a> -->
<!--	<a href="#">非凡农庄/PEPPER...  </a>-->
<!--	<a href="#">凯尔森/Kelsen </a>  </p>-->
<!--	 <p><a href="#"> 蜜兰诺/Milano </a> -->
<!--	<a href="#">壹格/EgE  </a>  -->
<!--	<a href="#">沃尔克斯/Walkers </a> -->
<!--	<a href="#">澳门永辉/MACAU...</a>  -->
<!--       <a href="#" title="莱家/Loacker">莱家/Loacker </a>  -->
<!--	<a href="#" title="">丽芝士/Richeese</a>  -->
<!--	<a href="#" title="白色恋人/SHIROI KOIBITO ">白色恋人/SHIROI KOIBITO </a> -->
<!--	<a href="#">爱时乐/Astick </a>  </p>-->
<!--   </div>-->
<!--   <p class="infonav_more"><a href="#" class="more" onclick="infonav_more_down(0);return false;">更多<em class="pullup"></em></a></p>-->
<!--  </div>-->
  <div class="Filter_list clearfix">
  <div class="Filter_title"><span>产地：</span></div>
  <div class="Filter_Entire"><a href="#">全部</a></div>
  <div class="p_f_name">
   <a href="#">中国大陆</a>     
   <a href="#">中国台湾</a>     
   <a href="#">中国香港</a>     
   <a href="#">中国澳门</a>     
   <a href="#">日本</a>     
   <a href="#">韩国</a>     
   <a href="#">越南</a>    
   <a href="#">泰国</a>
  </div>
  </div>
  <div class="Filter_list clearfix">
  <div class="Filter_title"><span>包装方式：</span></div>
  <div class="Filter_Entire"><a href="#">全部</a></div>
  <div class="p_f_name">
  <a href="#" class="on">袋装</a><a href="#">盒装</a><a href="#">罐装</a><a href="#">礼盒装</a><a href="#">散装(称重)</a>
  </div>
  </div>
  <div class="Filter_list clearfix">
  <div class="Filter_title"><span>价格：</span></div>
  <div class="Filter_Entire"><a id="price1" th:onclick="listGoodsSaleMoney('0','100000','1')">全部</a></div>
  <div class="p_f_name" id="choose">
	  <a  id="price2" class="on" th:onclick="listGoodsSaleMoney('0','50','2')">0-50</a>
	  <a id="price3" class="on" th:onclick="listGoodsSaleMoney('50','150','3')">50-150</a>
	  <a id="price4" th:onclick="listGoodsSaleMoney('150','500','4')">150-500</a>
	  <a id="price5" th:onclick="listGoodsSaleMoney('500','1000','5')">500-1000</a>
	  <a id="price6" th:onclick="listGoodsSaleMoney('1000','100000','6')">1000以上</a>
  </div>
  </div>
 </div>
 </div>
 <!--样式-->
   <div  class="scrollsidebar side_green clearfix" id="scrollsidebar"> 
     <div class="show_btn" id="rightArrow"><span></span></div>
     <!--左侧样式-->
   <div class="page_left_style side_content"  >
  <!--浏览记录-->
   <div class="side_title"><a title="隐藏" class="close_btn"><span></span></a></div>
   <div class=" side_list">
   <div class="Record">
     <div class="title_name">浏览记录</div>
	 <ul>
	  <li th:if=" ${state.index} lt 4" th:each="history,state:${histories}"  >
	   <a th:href="'http://localhost:8080/goods/showDetails?goodId='+${history.id}">
	   <p><img img th:src="'../static/mid/'+${history.id}+'/01.jpg'"></p>
		   <p class="p_name">[[${history.goodsName}]]</p>
	   </a>
	   <p><span class="p_Price left">价格:<b>￥[[${history.goodsPrice}]]</b></span><span class="p_Sales right">销量：[[${history.goodsSaleNum}]]件</span></p>
	  </li>

	 </ul>
   </div>
   <!--销售排行-->
    <div class="pro_ranking">
    <div class="title_name"><em></em>销量排行</div>
    <div class="ranking_list">
     <ul id="tabRank">
      <li class="t_p on" th:each="good,state:${goodsSale}" th:if="${state.index lt 10} ">
      <em class="icon_ranking">[[${state.count}]]</em>
      <dt><h3><a th:href="'http://localhost:8080/goods/showDetails?goodId='+${good.id}" th:text="${good.goodsName}">韩束墨菊深度补水八件套（补水保湿 深层）</a></h3></dt>
      <dd class="clearfix">
      <a href="#"><img th:src="'../static/mid/'+${good.id}+'/01.jpg'" width="90" height="90" /></a>
      <span class="Price">￥[[${good.goodsPrice}]]</span>
      </dd>     
      </li>

     </ul>
    </div>
    </div>
    <script type="text/javascript">
	jQuery("#tabRank li").hover(function(){ jQuery(this).addClass("on").siblings().removeClass("on")},function(){ });
    jQuery("#tabRank").slide({ titCell:"dt h3",autoPlay:false,effect:"left",delayTime:300 });
    </script>
    </div>
 </div>
  <script type="text/javascript"> 
$(function() { 
	$("#scrollsidebar").fix({
		float : 'left',
		//minStatue : true,
		skin : 'green',	
		durationTime : 600
	});
});
</script>
 <!--列表样式属性-->
  <div class="page_right_style">
    <div id="Sorted" >
 <div class="Sorted">
  <div class="Sorted_style">
   <a  class="on" th:onclick="serchByLimit([[${session.serch}]])" id="all">综合<i class="iconfont icon-fold"></i></a>
   <a  th:onclick="serchByLimit([[${session.serch}]],'saleNum')" id="saleNum">销量<i class="iconfont icon-fold"></i></a>
   <a  th:onclick="serchByLimit([[${session.serch}]],'price')" id="price">价格<i class="iconfont icon-fold"></i></a>
   </div>
   <!--产品搜索-->
   <div class="products_search">
    <input name="" type="text" class="search_text" value="请输入你要搜索的产品" onfocus="this.value=''" onblur="if(!value){value=defaultValue;}"><input name="" type="submit" value="" class="search_btn">
   </div>
   <!--页数-->
   <div class="s_Paging">
   <span> [[${pageInfo.pageNum}]]/[[${pageInfo.pages}]]</span>
   <a href="#" class="on">&lt;</a>
   <a href="#">&gt;</a>
   </div>
   </div>
   </div>
   <!--产品列表样式-->
 <div class="p_list  clearfix">
   <ul>
    <li class="gl-item" th:each="good,state:${pageInfo.list}" th:if="${state.index} lt 3">
    <em class="icon_special tejia"></em>
	<div class="Borders">
	 <div class="img"><a th:href="'http://localhost:8080/goods/showDetails?goodId='+${good.id}"> <img th:src="'../static/mid/'+${good.id}+'/01.jpg'" style="width:220px;height:220px"></a></div>
	 <div class="Price"><b>¥[[${good.goodsPrice}]]</b><span>[[${good.goodsDetails}]]</span></div>
	 <div class="name"><a th:href="'http://localhost:8080/goods/showDetails?goodId='+${good.id}" th:text="${good.goodsName}">乐事 无限薯片三连装（原味+番茄+烤肉）104g*3/组</a></div>
		<div class="Review">已有<a href="#">[[${good.goodsSaleNum}]]</a>次购买</div>
		<div class="p-operate">
			<a  th:onclick="collect([[${good.id}]])" class="p-o-btn Collect">
				<em></em>
				<span th:id="'collect'+${good.id}">收藏</span>
			</a>
			<a href="#" class="p-o-btn shop_cart"><em></em>加入购物车</a>
		</div>
	 </div>
	</li>

	   <li class="gl-item" th:each="good,state:${pageInfo.list}" th:if="${state.index} gt 2">
<!--		   <em class="icon_special "></em>-->
		   <div class="Borders">
			   <div class="img"><a th:href="'http://localhost:8080/goods/showDetails?goodId='+${good.id}"> <img th:src="'../static/mid/'+${good.id}+'/01.jpg'" style="width:220px;height:220px"></a></div>
			   <div class="Price"><b>¥[[${good.goodsPrice}]]</b><span>[[${good.goodsDetails}]]</span></div>
			   <div class="name"><a th:href="'http://localhost:8080/goods/showDetails?goodId='+${good.id}" th:text="${good.goodsName}">乐事 无限薯片三连装（原味+番茄+烤肉）104g*3/组</a></div>
			   <div class="Review">已有<a href="#">[[${good.goodsSaleNum}]]</a>次购买</div>
			   <div class="p-operate">
				   <a  th:onclick="collect([[${good.id}]])" class="p-o-btn Collect">
					   <em></em>
					   <span th:id="'collect'+${good.id}">收藏</span>
				   </a>
				   <a href="#" class="p-o-btn shop_cart"><em></em>加入购物车</a>
			   </div>
		   </div>
	   </li>

<!--	<li class="gl-item">-->
<!--    <em class="icon_special xinping"></em>-->
<!--	<div class="Borders">-->
<!--	 <div class="img"><a href="goodsDetials.html"><img src="../static/products/P_5.jpg" style="width:220px;height:220px"></a></div>-->
<!--	 <div class="Price"><b>¥89</b><span>[¥49.01/500g]</span></div>-->
<!--	 <div class="name"><a href="goodsDetials.html">乐事 无限薯片三连装（原味+番茄+烤肉）104g*3/组</a></div>-->
<!--	 <div class="Review">已有<a href="#">2345</a>评论</div>-->
<!--	 <div class="p-operate">-->
<!--	  <a href="#" class="p-o-btn Collect"><em></em>收藏</a>-->
<!--	  <a href="#" class="p-o-btn shop_cart"><em></em>加入购物车</a>-->
<!--	 </div>-->
<!--	 </div>-->
<!--	</li>-->

   </ul>
   <div class="Paging">
    <div class="Pagination" th:if="${mohu} != '1'">
		<a th:href="@{/goods/serchGoods(pageNum=(${pageInfo.pageNum}-1),serch=(${serch}))}" class="pn-prev disabled" >&lt;上一页</a>
		<a th:href="'/goods/serchGoods?pageNum='+${num}+'&serch='+${serch}"  th:text="${num}" th:each="num:${pageInfo.navigatepageNums}"  th:class = "${pageInfo.pageNum}==${num}?'on':''  ">1</a>

		<a  th:href="@{/goods/serchGoods(pageNum=(${pageInfo.pageNum}+1),serch=(${serch}))}">下一页&gt;</a>
     </div>
	   <div class="Pagination" th:if="${mohu} == '1'">
		   <a th:href="@{/goods/sort(pageNum=(${pageInfo.pageNum}-1),serch=(${serch}),limit=(${limit}))}" class="pn-prev disabled" >&lt;上一页</a>
		   <a th:href="'/goods/sort?pageNum='+${num}+'&serch='+${serch}+'&limit='+${limit}" th:text="${num}" th:each="num:${pageInfo.navigatepageNums}"  th:class = "${pageInfo.pageNum}==${num}?'on':''  ">1</a>

		   <a  th:href="@{/goods/sort(pageNum=(${pageInfo.pageNum}+1),serch=(${serch}),limit=(${limit}))}">下一页&gt;</a>
	   </div>
    </div>
   </div>
  </div>
 </div>
</div>
 <div class="slogen">
  <div class="index_style">
    <ul class="wrap">
	 <li>
	  <a href="#"><img src="images/slogen_34.png" data-bd-imgshare-binded="1"></a>
	  <b>安全保证</b>
	  <span>多重保障机制 认证商城</span>
	 </li>
	 <li><a href="#"><img src="images/slogen_28.png" data-bd-imgshare-binded="2"></a>
	  <b>正品保证</b>
	  <span>正品行货 放心选购</span>
	 </li>
	 <li>
	  <a href="#"><img src="images/slogen_30.png" data-bd-imgshare-binded="3"></a>
	  <b>七天无理由退换</b>
	  <span>七天无理由保障消费权益</span>
	 </li>
      <li>
	  <a href="#"><img src="images/slogen_31.png" data-bd-imgshare-binded="4"></a>
	  <b>天天低价</b>
	  <span>价格更低，质量更可靠</span>
	 </li>
	</ul>
  </div>
 </div>
<!--底部图层-->
<div class="phone_style">
 <div class="index_style">
   <span class="phone_number"><em class="iconfont icon-dianhua"></em>400-4565-345</span><span class="phone_title">客服热线 7X24小时 贴心服务</span>
 </div>
</div>
<div class="footerbox clearfix">
  <div class="clearfix">
   <div class="">
    <dl>
	 <dt>新手上路</dt>
	 <dd><a href="#">售后流程</a></dd>
     <dd><a href="#">购物流程</a></dd>
     <dd><a href="#">订购方式</a> </dd>
     <dd><a href="#">隐私声明 </a></dd>
     <dd><a href="#">推荐分享说明 </a></dd>
	</dl>
	<dl>
	 <dt>配送与支付</dt>
	 <dd><a href="#">保险需求测试</a></dd>
     <dd><a href="#">专题及活动</a></dd>
     <dd><a href="#">挑选保险产品</a> </dd>
     <dd><a href="#">常见问题 </a></dd>
	</dl>
	<dl>
	 <dt>售后保障</dt>
	 <dd><a href="#">保险需求测试</a></dd>
     <dd><a href="#">专题及活动</a></dd>
     <dd><a href="#">挑选保险产品</a> </dd>
     <dd><a href="#">常见问题 </a></dd>
	</dl>
	<dl>
	 <dt>支付方式</dt>
	 <dd><a href="#">保险需求测试</a></dd>
     <dd><a href="#">专题及活动</a></dd>
     <dd><a href="#">挑选保险产品</a> </dd>
     <dd><a href="#">常见问题 </a></dd>
	</dl>	
    <dl>
	 <dt>帮助中心</dt>
	 <dd><a href="#">保险需求测试</a></dd>
     <dd><a href="#">专题及活动</a></dd>
     <dd><a href="#">挑选保险产品</a> </dd>
     <dd><a href="#">常见问题 </a></dd>
	</dl>	   
   </div>
  </div>
 <div class="text_link">
   <p>
  <a href="#">关于我们</a>｜ <a href="#">公开信息披露</a>｜ <a href="#">加入我们</a>｜ <a href="#">联系我们</a>｜ <a href="#">版权声明</a>｜ <a href="#">隐私声明</a>｜ <a href="#">网站地图</a></p>
	 <p>蜀ICP备11017033号 Copyright ©2011 成都福际生物技术有限公司 All Rights Reserved. Technical support:CDDGG Group</p>
  </div>
  </div>
   <!--右侧菜单栏购物车样式-->
<div class="fixedBox">
  <ul class="fixedBoxList">
      <li class="fixeBoxLi user"><a href="#"> <span class="fixeBoxSpan iconfont icon-yonghu"></span> <strong>用户</strong></a> </li>
    <li class="fixeBoxLi cart_bd" style="display:block;" id="cartboxs">
		<p class="good_cart">0</p>
			<span class="fixeBoxSpan iconfont icon-cart"></span> <strong>购物车</strong>
			<div class="cartBox">
       		<div class="bjfff"></div><div class="message">购物车内暂无商品，赶紧选购吧</div>    </div></li>
    <li class="fixeBoxLi Service "> <span class="fixeBoxSpan iconfont icon-service"></span> <strong>客服</strong>
      <div class="ServiceBox">
        <div class="bjfffs"></div>
        <dl onclick="javascript:;">
		    <dt><img src="images/Service1.png"></dt>
		       <dd><strong>QQ客服1</strong>
		          <p class="p1">9:00-22:00</p>
		           <p class="p2"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=123456&amp;site=DGG三端同步&amp;menu=yes">点击交谈</a></p>
		          </dd>
		        </dl>
				<dl onclick="javascript:;">
		          <dt><img src="images/Service1.png"></dt>
		          <dd> <strong>QQ客服1</strong>
		            <p class="p1">9:00-22:00</p>
		            <p class="p2"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=123456&amp;site=DGG三端同步&amp;menu=yes">点击交谈</a></p>
		          </dd>
		        </dl>
	          </div>
     </li>
	 <li class="fixeBoxLi code cart_bd " style="display:block;" id="cartboxs">
			<span class="fixeBoxSpan iconfont icon-erweima"></span> <strong>微信</strong>
			<div class="cartBox">
       		<div class="bjfff"></div>
			<div class="QR_code">
			 <p><img src="images/erweim.jpg" width="150px" height="150px" style=" margin-top:10px;" /></p>
			 <p>微信扫一扫，关注我们</p>
			</div>		
			</div>
			</li>

    <li class="fixeBoxLi Home"> <a href="./"> <span class="fixeBoxSpan iconfont  icon-shoucang"></span> <strong>收藏</strong> </a> </li>
    <li class="fixeBoxLi Home"> <a href="./"> <span class="fixeBoxSpan iconfont  icon-zuji"></span> <strong>足迹</strong> </a> </li>
    <li class="fixeBoxLi Home"> <a href="./"> <span class="fixeBoxSpan iconfont  icon-fankui"></span> <strong>反馈</strong> </a> </li>
    <li class="fixeBoxLi BackToTop"> <span class="fixeBoxSpan iconfont icon-top"></span> <strong>返回顶部</strong> </li>
  </ul>
</div>
	<script th:inline="javaScript">
		function serchByLimit(serch,limit){

			console.log("serch"+serch)

		    var serch2 = [[${session.serch}]]
			console.log("serch2"+serch2)
			if(limit == ''){
				$("#all").siblings().removeClass("on")
				$("#all").addClass("on")
				location.href = 'http://localhost:8080/goods/sort?serch='+serch2;
			}else if(limit == "saleNum"){
				$("#saleNum").siblings().removeClass("on")
				$("#saleNum").addClass("on")
				location.href = 'http://localhost:8080/goods/sort?serch='+serch2+'&limit='+limit;
			}else{
				$("#price").siblings().removeClass("on")
				$("#price").addClass("on")
				location.href = 'http://localhost:8080/goods/sort?serch='+serch2+'&limit='+limit;
			}
		}

		$(window).on('load', function () {
			var selectId = [[${selectId}]]
			if(selectId != null){
				$("#"+selectId).siblings().removeClass("on")
				$("#"+selectId).addClass("on")
			}
			var priceId = [[${priceId}]]
			if(priceId != null){
				$("#price"+1).css({background:"white",color:"#333"})
				$("#choose > a").siblings().css({background:"white",color:"#333"})
				$("#price"+priceId).css({background:"#FF6060",color:"#FFFFFF"})
			}
		})
		var user = [[${session.user}]]
		function collect(goodId){
			var text = $("#collect"+goodId).text()
			console.log(text)
			if(user == null ){
				alert("收藏失败 请先登录")
				location.href = "http://localhost:8080/user/login"
			}
			if(text == '收藏'){
				$.ajax({
					url: '/user/saveCollect',
					type: 'post',
					dataType: 'json',
					async: true,
					data: {goodId:goodId,userId:user.userId},
					success: function (data) {
						if (data == '1') {
							alert("收藏成功")
						} else if(data== '0') {
							alert("收藏失败 请先登录")
							location.href = "http://localhost:8080/user/login"
						}
					},
					error: function () {
					}
				});
				$("#collect"+goodId).text("取消收藏")
			}else{
				$.ajax({
					url: '/user/saveCollect',
					type: 'post',
					dataType: 'json',
					async: true,
					data: {goodId:goodId,userId:user.userId},
					success: function (data) {
						if (data == '2') {
							alert("取消收藏成功")
						}
					},
					error: function () {
					}
				});
				$("#collect"+goodId).text('收藏')
			}
		}

		$(window).on('load', function () {
			if(user!= null){
				$.ajax({
					url: '/user/listCollects',
					type: 'post',
					dataType: 'json',
					async: true,
					data: {userId:user.userId},
					success: function (data) {
						for (let i = 0; i < data.length; i++) {
							$("#collect"+data[i]).text("取消收藏")
						}
					},

				});
			}
		})

		function listGoodsSaleMoney(a,b,num){
			console.log(a)
			console.log(b)
			var selectId = [[${selectId}]]
			console.log(selectId)
			if(selectId == null){
				selectId = "all";
			}
			console.log(selectId)
			$("#price"+1).css({background:"white",color:"#333"})
			$("#choose > a").siblings().css({background:"white",color:"#333"})
			$("#price"+num).css({background:"#FF6060",color:"#FFFFFF"})
			location.href = "http://localhost:8080/goods/listGoodsSaleMoney?begin="+a+"&end="+b+"&selectId="+selectId+"&priceId="+num;
		}
	</script>
</body>
</html>
